
    {% if messages %}
    
  <div id="loader" style="display:flex; background-color: black; padding-top: 10px;padding-bottom: 20px; justify-content: space-between;" class="d-flex align-items-center text-primary container">
  {% for message in messages %}
  {% if message.tags %}
  <div style="width:100%; padding-top" class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}
  d-flex align-items-center fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#{{message.tags}}"/></svg>
    <div>
      {{message}}
    </div>
  <button type="button" class="btn"></button>
  </div>
  

{% endif %}
{% endfor %}
{% endif %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="success" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
  </symbol>
    <symbol id="info" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
  </symbol>
  <symbol id="error" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
  </symbol>
  </svg>
  {% if testCasesContainer %}
  {% for testCase in testCasesContainer.testCases %}
    {% if testCase.status == 2 %}
    <div id="block{{forloop.counter}}"style="width:100%;" class="alert alert-info
  d-flex align-items-center fade show block" role="alert">
    <div class="myMenu">
      <div class="myItem">
      
      <div class="spinner-grow" role="status">
      </div>
      <span style="margin:auto">Test Case {{ forloop.counter }}</span>
      </div>

    </div>
  </div>
    {% elif testCase.status == 0 %}
<div id="block{{forloop.counter}}"style="width:100%;" class="alert alert-success
  d-flex align-items-center fade show block" role="alert">
  
    <div class="myMenu">
    <div id="item{{ forloop.counter }}" class="myItem">
<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#success"></use></svg>
     <span style="margin:auto">Test Case {{ forloop.counter }}</span>
      </div>
      <div id="submenu{{ forloop.counter }}" class="mySubmenu">
        <a class="nav-link" >Input
        <span style="float:right;">
        {% for input in testCase.input %}
        {{input}} 
        {% if forloop.last %}

        {% else %}
        &nbsp
        {% endif %}
        {% endfor %}
        </span>
        </a>
        <a class="nav-link" >Expected Output
        <span style="float:right;">
        
        {{ testCase.expectedOutput }} 
        
        </span>
        </a>
        <a class="nav-link" >Your Output
          <span style="float:right;">
        
        {{ testCase.output }} 
        
        </span>
        </a>
      </div>
    </div>
    </div>
</div>
  {% else %}
<div id="block{{forloop.counter}}"style="width:100%;" class="alert alert-danger
  d-flex align-items-center fade show block" role="alert">
  
    <div class="myMenu">
    <div id="item{{ forloop.counter }}" class="myItem">
<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#error"></use></svg>
     <span style="margin:auto">Test Case {{ forloop.counter }}</span>
      </div>
      <div id="submenu{{ forloop.counter }}" class="mySubmenu">
<a class="nav-link" >Input
        <span style="float:right;">
        {% for input in testCase.input %}
        {{input}} 
        {% if forloop.last %}

        {% else %}
        &nbsp
        {% endif %}
        {% endfor %}
        </span>
        </a>
        <a class="nav-link" >Expected Output
        <span style="float:right;">
        
        {{ testCase.expectedOutput }} 
        
        </span>
        </a>
        <a class="nav-link" >Your Output
          <span style="float:right;">
        
        {% if testCase.output %}
        {{ testCase.output }}
        {% else %}
        <i>No output</i> 
        {% endif %}
        
        </span>
        </a>
      </div>
    </div>
    </div>
</div>
    {% endif %}
      {% comment %} <div class="mySubmenu">
        <a class="nav-link">Input</a>
        <a class="nav-link">Expected output</a>
        <a class="nav-link">Your Output</a>
      </div> {% endcomment %}
    
  {% endfor %}
  {% endif %}
  

  </div>
 <script>
  {% if testCasesContainer %}
  {% for testCase in testCasesContainer.testCases %}
 $(function() {


    $("#block{{ forloop.counter }}").click(function() {
        $("#submenu{{ forloop.counter }}").slideToggle(500);
        
    });
    console.log('Called');

});

  {% endfor %}
  {% endif %}
  {% if first %}
  myVar = setInterval("update()", 2000);
  {% endif %}
 {% if testCasesContainer %}
 {% if testCasesContainer.numOfTestCases == testCasesContainer.processed %}

  stopFunction();

 {% endif %}
 {% endif %}
 </script>